th {
    border: 1px solid;
    width: 170px;
    height: 40px;
}

td {
    border: 1px solid;
    height: 40px;
    text-align: left;
}

.id {
    width: 100px;
}

.description {
    width: 250px;
}

.table-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

fieldset {
    display: flex;
    width: auto;
    height: auto;
    padding: 20px;
}

h5 {
    width: 200px;
    height: 30px;
    margin-top: 25px;
}

a{
    text-decoration: none;
}

.buttons {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #4f5050;
}

.align-center{
    text-align: center;
}

.tr_align-center td{
    text-align: center ;
}

.tr_padding-left td{
    padding-left: 10px;
}

.tr_padding-left td:last-child{
    padding-left: 0;
}

table input {
    width: 150px;
}